.calender-results-page{
    display: flex;
    background-color: rgb(165, 228, 249);
}

.calender{
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(247, 210, 247);
    width: 30%;
    min-width: 250px;
    margin: 3%;
}

.calender div{
    border: 3px solid  rgb(247, 210, 247);
    display: flex;
    width: 100%;
    background-color: rgb(165, 228, 249);
}

.calender div h4{
    margin: 10px;
    color: white;
}

.calender div h6{
    margin: 10px;
    color: white;
}

h3{
    margin: 10px;
    color: white;
}

.results{
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 350px;
    border: 10px solid rgb(247, 210, 247);
    margin: 5%;
}

.results div{
    border: 3px solid  rgb(247, 210, 247);
    display: flex;
    width: 100%;
    background-color: rgb(165, 228, 249);
}

.results div h6{
    margin: 10px;
    color: white;
}

.results div h4{
    margin: 10px;
    color: white;
}