.calender-results-page{
    display: flex;
    background-color: rgb(165, 228, 249);
    border-radius: 20px;
    /* margin-right: 10%; */
}

.calender{
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(247, 210, 247);
    /* width: 30%; */
    margin: 3%;
    min-width: 55%;
}

.calender div{
    border: 3px solid  rgb(247, 210, 247);
    display: flex;
    width: 100%;
    background-color: rgb(165, 228, 249);
    /* border-radius: 5px; */
}

.calender div h4{
    margin: 10px;
    color: white;
}

.calender div h6{
    margin: 10px;
    color: white;
}

h3{
    margin: 10px;
    color: white;
}

.results{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    min-width: 40%;
    border: 10px solid rgb(247, 210, 247);
    margin: 5%;
}

.results div{
    border: 3px solid  rgb(247, 210, 247);
    display: flex;
    width: 100%;
    background-color: rgb(165, 228, 249);
}

.results div h6{
    margin: 10px;
    color: white;
}

.results div h4{
    margin: 10px;
    color: white;
}

.cal-button {
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-image: linear-gradient(-90deg,rgb(247, 210, 247),rgb(243, 245, 246),rgb(165, 228, 249));
    /* background-color: #fff; */
    padding: 7px 30px;
    box-shadow: inset 0 3px 6px rgba(66, 1, 61, 0.1);
    font-weight: 700;
  }