.dash-body {
    display: flex;
}
.dash-cont {
    height: 100%;
    width: 50%!important;
    /* position: absolute; */
    z-index: 1;
    background-image: linear-gradient(rgb(247, 210, 247),rgb(243, 245, 246),rgb(243, 245, 246));
    padding-left: 4%;
}
/* [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  } */
  .dash-right {
      /* background-color: burlywood; */
      width: 50%;
      /* border: 2px solid red; */
      /* height: 600px; */
      border-radius: 20px;
      /* padding-right: 4%; */
      /* background-color: cornflowerblue; */
      z-index: 2;
      /* display: flex;
      flex-direction: column;
      align-items: center; */
      /* justify-content: center; */
      margin-right: 5%;
  }
  .dash-cal {
    /* margin-top: 40px; */
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-image: linear-gradient(-90deg,rgb(247, 210, 247),rgb(243, 245, 246),rgb(165, 228, 249));
    /* background-color: #fff; */
    padding: 7px 30px;
    box-shadow: inset 0 3px 6px rgba(66, 1, 61, 0.1);
    /* width: 190px; */
    z-index: 5;
    margin-bottom: 10px;
    font-weight: 700;
  }
.dash-placehold {
    border-radius: 20px;
    background-color: rgb(165, 228, 249);
    padding: 10px;
    display: flex;
}
/* @media (max-width: 768px) {
  .dash-body {
      display: block;
      margin-right: 5px;
      margin-left: 5px;
  } */
  /* .dash-right {
    position: relative;
    top: 600px;
  }
  .dash-cont Map {
    width: 90%;
  }
} */
/* InfoWindow */
.gm-style .gm-style-iw-c {
  font-family: Arial;
  background: linear-gradient(#f7d2f7, #a5e3fa);
  border-radius: 10px;
  text-align: center;
  padding-right: 10px!important;
  opacity: 0.9;
  border: 1px solid black;
  box-shadow: -7px 7px 1px rgba(0,0,0,0.3);
}
.gm-style-iw-d {
  overflow: hidden!important;
}
.gm-style-iw-d h1 {
  font-size: 17px;
  text-shadow: -1px 1px 2px grey;
  -webkit-text-stroke: .3px white;
}
.gm-style-iw-t {
  bottom: 0px;
}

.dash-data-cont{
  display: flex;
}
.dash-data-cont > div{
  padding: 8px;
  padding-left: 18px;
  font-family: Arial, Helvetica, sans-serif;
}