$pink: rgb(247, 210, 247);
$blue: rgb(165, 228, 249);
$white: rgb(243, 245, 246);
$pure-wht: rgb(255, 255, 255);


.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  // background: url(/static/media/logo.315ecc7f.png);
  width: 100%;
  height: 100%;
}

.welcomeuser{
  // background: url(./calendar.png);
  width: 50px;
  height: 50px;
  padding-bottom: 10px;
}

.user-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
}