.modal-background{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: transparent;
    z-index: 10;
}

.modal-child{
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translate(-50%, -50%);
    // background-color: lightsalmon;
}

.modal-child-div{
    position: absolute;
    background-color: lightseagreen;
    width: 200px;
    height: 200px;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    border: 1px solid grey;
}

.dash-cont {
    height: 100%;
    width: 100%;
    /* position: absolute; */
    z-index: 1;
    background-image: linear-gradient(rgb(247, 210, 247),rgb(243, 245, 246),rgb(243, 245, 246));
    padding-left: 4%;
}