.modal-background{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: transparent;
    z-index: 10;
}

.modal-child{
    position: absolute;
    top: 28%;
    right: 20%;
    transform: translate(-50%, -50%);
    // background-color: lightsalmon;
}

.modal-child-div{
    position: absolute;
    // background-color: lightseagreen;
    width: 230px;
    height: 300px;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1;
    // border: 1px solid grey;
    border-radius: 20px;
    background-color: rgb(165, 228, 249);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dash-cont {
    height: 100%;
    width: 100%;
    /* position: absolute; */
    z-index: 1;
    background-image: linear-gradient(rgb(247, 210, 247),rgb(243, 245, 246),rgb(243, 245, 246));
    padding-left: 4%;
}

.modal-ul{
    list-style-type: none;
    padding-left: 0;
}